body {
    font-family: Arial;
    background:#f4f6f9;
    padding:40px;
}

.container {
    width:450px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

input,button {
    width:100%;
    padding:10px;
    margin-top:10px;
}

button {
    background:#007bff;
    color:white;
    border:none;
    cursor:pointer;
}

h2 {
    text-align:center;
}

.wordcount {
    font-size:20px;
    color:green;
    font-weight:bold;
}